@font-face {
    font-family: 'Fontssz'; /* Font for general text */
    src: url('Fontssz.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pontszz'; /* Font for buttons */
    src: url('Pontszz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fontssz', sans-serif; /* Apply first custom font */
    text-align: center;
    background: url('backgroundd.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.valentine-img {
    width: 60%;
    max-width: 300px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: purple;
    margin: 20px;
    transition: margin-top 0.5s ease;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    font-family: 'Pontszz', sans-serif; /* Apply second custom font for buttons */
    padding: 8px 18px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #ff5c8e;
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

#no-btn.moved {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}